
name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-2025-vs2026  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: AgileSqlClub.SqlPackageFilter.sln                         # Replace with your solution name, i.e. MyWpfApp.sln.
      Test_Project_Path: AgileSqlClub.SqlPackageFilter.UnitTests\AgileSqlClub.SqlPackageFilter.UnitTests.csproj        # Replace with the path to your test project, i.e. MyWpfApp.Tests\MyWpfApp.Tests.csproj.

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Install the .NET workload
    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore packages and build the application
      run: msbuild $env:Solution_Name /restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    # Execute all unit tests in the solution
    - name: Test with the dotnet CLI
      run: dotnet test --no-build AgileSqlClub.SqlPackageFilter.UnitTests
  
    # Upload the package: https://github.com/marketplace/actions/upload-a-build-artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}-AgileSqlClub.SqlPackageFilter
        path: SqlPackageFilter/bin/${{ matrix.configuration }}/**/AgileSqlClub.SqlPackageFilter.*
